@model SecondHand.Models.Domain.Order

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title" style="color:white">Chi tiết đơn hàng</h3>
    </div>

    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PaymentStatus)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OrderStatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OrderStatus)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Subtotal)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Discount)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Note)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ShppingDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ShppingDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IsCancelled)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IsCancelled)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Promotion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Promotion.Code)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.User.Id)
            </dd>
        </dl>
    </div>

    <div class="card-footer row">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="width: 150px">Cập nhật</a>
        <a asp-action="Index" class="btn btn-secondary" style="width: 150px; margin-left: 10px">Trở về</a>
    </div>
</div>
