@using SecondHand.Models.ViewModels;
@using System.Globalization;
@using SecondHand.Utility;
@model CartVM
@{
    Layout = "_Layout";
}

<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
            <section class="uk-text-center">
                <a class="uk-link-muted "
                   asp-action="Index">
                    <span class="uk-margin-xsmall-right"
                          uk-icon="icon: arrow-left; ratio: .75;"></span>Trở lại giỏ hàng
                </a>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">
                    Thanh Toán
                </h1>
            </section>
            <form method="post">
            <section>
                <div class="uk-grid-medium" uk-grid>
                    <div class="uk-form-stacked uk-width-1-1 tm-checkout uk-width-expand@m">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="uk-grid-medium uk-child-width-1-1"
                             uk-grid>
                            <section>
                                <h2 class="tm-checkout-title">
                                    Thông tin khách hàng
                                </h2>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container uk-margin-top uk-margin-bottom">
                                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s"
                                         uk-grid>
                                        <div>
                                            <label>
                                                <div class="uk-form-label uk-form-label-required">
                                                    Họ và tên
                                                </div>
                                                <input asp-for="Order.Name" class="uk-input" type="text" />
                                                <span asp-validation-for="Order.Name" class="text-danger"></span>
                                            </label>
                                        </div>
                                       
                                        <div style="margin-top: 5px;">
                                            <label>
                                                <div class="uk-form-label uk-form-label-required">
                                                    Số Điện Thoại
                                                </div>
                                                <input asp-for ="Order.PhoneNumber" class="uk-input"
                                                       type="tel"
                                                       required />
                                                <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <div class="uk-form-label uk-form-label-required">
                                                    Email
                                                </div>
                                                <input asp-for="Order.User.Email" class="uk-input"
                                                       type="email"
                                                       required />
                                                <span asp-validation-for="Order.User.Email" class="text-danger"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <h2 class="tm-checkout-title">
                                    Địa chỉ giao hàng
                                </h2>
                                <div class="uk-card uk-card-default uk-card-small uk-card-body tm-ignore-container uk-margin-top uk-margin-bottom">
                                    
                                    <div class="uk-margin"> 
                                        <section>
                                            <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                                                
                                                <div>
                                                    <label>
                                                        <div class="uk-form-label uk-form-label-required">
                                                            Địa chỉ
                                                        </div>
                                                        <div class="uk-form-controls">
                                                        <input asp-for="Order.Address" class="uk-input"
                                                               type="text" />
                                                        <span asp-validation-for="Order.Address" class="text-danger"></span>
                                                        </div>
                                                    </label>
                                                </div>
                                               
                                            </div>
                                            <div class="uk-grid-small uk-child-width-1-3 uk-child-width-1-3@s" uk-grid>
                                                
                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Thành phố
                                                            </div>
                                                            <select id="citySelect" class="uk-select">
                                                                <option value="">Chọn thành phố</option>
                                                                <span asp-validation-for="Order.City" class="text-danger"></span>

                                                            </select>
                                                            <input hidden asp-for="Order.City" value="" id="cityInput" />
                                                        </label>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label uk-form-label-required">
                                                                Quận/Huyện
                                                            </div>
                                                            <select id="districtSelect" class="uk-select">
                                                                <option value="">Chọn quận/huyện</option>
                                                            </select>
                                                            <span asp-validation-for="Order.State" class="text-danger"></span>

                                                            <input hidden asp-for="Order.State" value="" id="districtInput" />
                                                        </label>
                                                    </div>

                                                    <div>
                                                        <label>
                                                            <div class="uk-form-label">
                                                                Phường/Xã
                                                            </div>
                                                            <select id="wardSelect" class="uk-select">
                                                                <option value="">Chọn phường/xã</option>
                                                                <span asp-validation-for="Order.Ward" class="text-danger"></span>

                                                            </select>
                                                            <input hidden asp-for="Order.Ward" value="" id="wardInput" />
                                                        </label>
                                                    </div>
                                                <div class="uk-form-group uk-margin-top">
                                                    <label>
                                                        <div class="uk-form-label">
                                                            Ghi chú
                                                        </div>
                                                    </label>
                                                        <div>
                                                            <textarea asp-for="Order.Note" class="uk-textarea uk-child-width-1-1 uk-form-control"
                                                                  rows="5"
                                                                  placeholder="Note cho cửa hàng"></textarea>
                                                        <span asp-validation-for="Order.Note" class="text-danger"></span>
                                                           

                                                         </div>                                                                                                                                                      
                                                        <div>
                                                            <input hidden asp-for="Order.FeeShipping" value="" id="feeShippingInput" />
                                                        </div>                                                  
                                                 </div>
                                           </div>
                                        
                                        </section>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <h2 class="tm-checkout-title">
                                    Phương thức trả tiền
                                </h2>
                                <div class="uk-card uk-card-default uk-card-small tm-ignore-container uk-margin-top uk-margin-bottom">
                                        <div class="uk-card-body">
                                            <div class="uk-grid-small uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-flex-center"
                                                 uk-switcher="toggle: &gt; * &gt; .tm-choose"
                                                 uk-grid>
                                                <div>
                                                    <a class="tm-choose" href="#">
                                                        <div class="tm-choose-title">
                                                            Trả tiền khi nhận hàng
                                                        </div>
                                                    </a>
                                                    
                                                </div>
                                                <div>
                                                    <a class="tm-choose" href="#">
                                                        <div class="tm-choose-title">
                                                            Thẻ trực tuyến
                                                        </div>
                                                        <div class="tm-choose-description">
                                                            VNPay
                                                        </div>
                                                    </a>
                                    
                                                </div>                                             
                                        </div>
                                        <input hidden id="PaymentMethod" asp-for="Order.PaymentMethod" value="@SD.PaymentMethodCod" />

                                    <div class="uk-card-footer">
                                        <div class="uk-grid-small uk-flex-middle uk-flex-center uk-text-center"
                                             uk-grid>
                                            <div class="uk-text-meta">
                                                <span class="uk-margin-xsmall-right"
                                                      uk-icon="icon: lock; ratio: .75;"></span>An ninh
                                                trong việc
                                                thanh toán
                                                được đảm bảo bởi
                                                các giao thức bảo mật
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-4@m tm-aside-column">
                        <div class="uk-card uk-card-default uk-card-small tm-ignore-container"
                             uk-sticky="offset: 30; bottom: true;">
                            <section class="uk-card-body">
                                <h4>Sản phẩm đã đặt</h4>
                                @foreach(var details in Model.ListCart)
                                {
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-small">
                                               @details.Product.Name
                                            </div>
                                            <div class="uk-text-meta">
                                               @details.count × @details.Product.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN")).Replace(" ", "").Replace(".", ",")
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div>@details.Product.Price.ToString("C", CultureInfo.GetCultureInfo("vi-VN")).Replace(" ", "").Replace(".", ",")</div>
                                        </div>
                                    </div>
                                }                            
                            </section>
                            <section class="uk-card-body">
                                <div class="uk-grid-small"
                                     uk-grid>
                                    <div class="uk-width-expand">
                                        <div class="uk-text-muted">
                                            Tạm Tổng Tính
                                        </div>
                                    </div>
                                    <div class="uk-text-right">
                                        <div>@(((decimal)Model.Order.Subtotal).ToString("C", CultureInfo.GetCultureInfo("vi-VN")).Replace(" ", "").Replace(".", ","))</div>
                                    </div>
                                </div>
                                <div class="uk-grid-small"
                                     uk-grid>
                                    <div class="uk-width-expand">
                                        <div class="uk-text-muted">
                                            Giảm giá
                                        </div>
                                    </div>
                                    <div class="uk-text-right">
                                        <div class="uk-text-danger">
                                            @SD.ConvertToCurrencyFormat(Model.Order.Discount)
                                            <input hidden asp-for="Order.Discount"/>
                                        </div>
                                    </div>
                                </div>
                                    <div class="uk-grid-small"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-muted">
                                                Phí giao hàng
                                            </div>
                                        </div>
                                        <div class="uk-text-right">
                                            <div class="uk-text" id="feeShippingDiv">
                                               
                                            </div>
                                        </div>
                                    </div>
                            </section>
                            <section class="uk-card-body">
                                <div class="uk-grid-small uk-flex-middle"
                                     uk-grid>
                                    <div class="uk-width-expand">
                                        <div class="uk-text-muted">
                                            Tổng Tiền
                                        </div>
                                    </div>
                                    <div class="uk-text-right">
                                        <div class="uk-text-lead uk-text-bolder" id="totalOrderDiv">
                                            @(((decimal)Model.Order.Total).ToString("C", CultureInfo.GetCultureInfo("vi-VN")).Replace(" ", "").Replace(".", ","))
                                        </div>
                                    </div>
                                </div>
                               
                                <button type="submit" class="uk-button uk-button-primary uk-margin-small uk-width-1-1">
                                    Đặt hàng
                                </button>
                               
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            </form>
        </div>
    </div>
</section>
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var apiToken = '11bc5038-6046-11ee-a59f-a260851ba65c';

        // Lấy danh sách Tỉnh/Thành phố từ API và cập nhật trường select #citySelect
        $.ajax({
            url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province',
            type: 'GET',
            headers: {
                'Token': apiToken
            },
            success: function (data) {
                var citySelect = $('#citySelect');
                citySelect.empty();
                citySelect.append($('<option>', {
                    value: '',
                    text: 'Chọn thành phố'
                }));
                $.each(data.data, function (i, city) {
                    citySelect.append($('<option>', {
                        value: city.ProvinceID,
                        text: city.ProvinceName
                    }));
                });

                // Bắt sự kiện thay đổi lựa chọn thành phố và cập nhật giá trị của input hidden
                citySelect.on('change', function () {
                    var selectedCityName = citySelect.find(':selected').text();
                    $('#cityInput').val(selectedCityName);
                    console.log('Thành phố đã chọn:', selectedCityName);
                });
            }
        });

        // Bắt sự kiện khi người dùng chọn thành phố và cập nhật danh sách Quận/Huyện
        $('#citySelect').on('change', function () {
            var selectedCityId = $(this).val();

            if (selectedCityId) {
                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district',
                    type: 'GET',
                    headers: {
                        'Token': apiToken
                    },
                    data: {
                        province_id: selectedCityId
                    },
                    success: function (data) {
                        var districtSelect = $('#districtSelect');
                        districtSelect.empty();
                        districtSelect.append($('<option>', {
                            value: '',
                            text: 'Chọn quận/huyện'
                        }));
                        $.each(data.data, function (i, district) {
                            districtSelect.append($('<option>', {
                                value: district.DistrictID,
                                text: district.DistrictName
                            }));
                        });
                        // Bắt sự kiện thay đổi lựa chọn thành phố và cập nhật giá trị của input hidden
                        districtSelect.on('change', function () {
                            var selectedDistrictName = districtSelect.find(':selected').text();
                            $('#districtInput').val(selectedDistrictName);
                            console.log('Quận/Huyện đã chọn:', selectedDistrictName);
                        });
                        // Reset giá trị input quận/huyện và phường/xã khi thay đổi tỉnh/thành phố
                        $('#districtInput').val('');
                        $('#wardInput').val('');
                    }
                });
            }
        });

        // Bắt sự kiện khi người dùng chọn Quận/Huyện và cập nhật danh sách Phường/Xã
        $('#districtSelect').on('change', function () {
            var selectedDistrictId = $(this).val();

            if (selectedDistrictId) {
                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward',
                    type: 'GET',
                    headers: {
                        'Token': apiToken
                    },
                    data: {
                        district_id: selectedDistrictId
                    },
                    success: function (data) {
                        var wardSelect = $('#wardSelect');
                        wardSelect.empty();
                        wardSelect.append($('<option>', {
                            value: '',
                            text: 'Chọn phường/xã'
                        }));
                        $.each(data.data, function (i, ward) {
                            wardSelect.append($('<option>', {
                                value: ward.WardCode,
                                text: ward.WardName
                            }));
                        });
                        // Bắt sự kiện thay đổi lựa chọn thành phố và cập nhật giá trị của input hidden
                        wardSelect.on('change', function () {
                            var selectedWardName = wardSelect.find(':selected').text();
                            $('#wardInput').val(selectedWardName);
                            console.log('Phường/xã đã chọn:', selectedWardName);
                        });
                        // Reset giá trị input quận/huyện và phường/xã khi thay đổi tỉnh/thành phố
                        $('#wardInput').val('');
                     
                    }
                });
            }
        });



        //Tính phí ship
        // Sử dụng giá trị mặc định cho shop_id và from_district
        var defaultShopId = 2559527;
        var defaultFromDistrictId = 1550;

    // Bắt sự kiện khi người dùng chọn Quận/Huyện và tự động lấy danh sách phương thức giao hàng
    $('#districtSelect').on('change', function () {
            var selectedDistrictIdString = $(this).val(); // Lấy giá trị dạng chuỗi
            var selectedDistrictId = parseInt(selectedDistrictIdString, 10); // Chuyển đổi sang kiểu số nguyên
            var toDistrictId = selectedDistrictId;

        // Kiểm tra xem đã chọn giá trị to_district chưa
        if (!toDistrictId) {
            alert('Vui lòng chọn quận/huyện.');
            return;
        }
            $('#wardSelect').on('change', function () {
            var selectedWardCode = $(this).val();
            // Lấy giá trị từ phần tử <div> có id="totalValue"
            
            var insuranceValue = @Model.Order.Total; // Chuyển đổi sang kiểu số thực
            // Lấy các thông tin khác cần thiết để tính phí cước
            //var serviceId = /* Lấy ID của gói dịch vụ từ API lấy gói dịch vụ */
            //var weight = /* Lấy trọng lượng hàng hóa từ nguồn dữ liệu hoặc người dùng */
            //var length = /* Lấy chiều dài từ nguồn dữ liệu hoặc người dùng */
            //var width = /* Lấy chiều rộng từ nguồn dữ liệu hoặc người dùng */
            //var height = /* Lấy chiều cao từ nguồn dữ liệu hoặc người dùng */
            var toWardCode = selectedWardCode;

                $.ajax({
                    url: 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee',
                    type: 'POST',
                    headers: {
                        'Token': apiToken
                    },
                    data: JSON.stringify({
                        shop_id: defaultShopId,
                        insurance_value: insuranceValue,
                        coupon: null,
                        from_district_id: defaultFromDistrictId,
                        to_district_id: toDistrictId,
                        to_ward_code: toWardCode,
                        service_type_id: 2,
                        weight: 1000,
                        length: 15,
                        width: 15,
                        height: 15
                    }),
                    contentType: 'application/json',
                    success: function (data) {
                        // Kiểm tra nếu có giá trị total trong dữ liệu
                        if (data.data.total !== undefined) {
                            var formattedTotal = data.data.total.toLocaleString('vi-VN', {
                                style: 'currency',
                                currency: 'VND'
                            }).replace(/\s*đ/g, '').replace('.', ',');
                       
                            // Lấy thẻ <input> dựa trên thuộc tính asp-for
                            var feeShippingInput = $('#feeShippingInput');
                            var feeShippingDiv = $('#feeShippingDiv');
                            var totalOrderDiv = $('#totalOrderDiv');
                            var totalOrder = insuranceValue + data.data.total;
                            
                            // Gán giá trị từ data.total vào thuộc tính value của thẻ <input>
                            feeShippingInput.val(data.data.total);
                            feeShippingDiv.text(formattedTotal);
                            totalOrderDiv.text(totalOrder.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }).replace(/\s*đ/g, '').replace('.', ','));
                            // In ra giá trị đã gán để kiểm tra
                            console.log('Giá cước vận chuyển:', data.data.total);
                        } else {
                            
                            console.error('Không có giá cước vận chuyển trong dữ liệu.');
                        }
                    }
                });
            });
    });

    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy danh sách tất cả các phương thức thanh toán
        var paymentMethods = document.querySelectorAll(".tm-choose");

        // Lặp qua từng phương thức thanh toán
        paymentMethods.forEach(function (method) {
            method.addEventListener("click", function () {
                // Lấy nội dung trong thẻ div có class "tm-choose-title"
                var paymentMethodName = this.querySelector(".tm-choose-title").textContent.trim();

                // Đối tượng input PaymentMethod
                var paymentMethodInput = document.querySelector("#PaymentMethod");

                // Thay đổi giá trị PaymentMethod tương ứng với phương thức thanh toán
                switch (paymentMethodName) {
                    case "Trả tiền khi nhận hàng":
                        paymentMethodInput.setAttribute("value", "@SD.PaymentMethodCod");
                        break;
                    case "Thẻ trực tuyến":
                        paymentMethodInput.setAttribute("value", "@SD.PaymentMethodVnPay");
                        break;
                    case "Thanh toán điện tử":
                        paymentMethodInput.setAttribute("value", "@SD.PaymentMethodMoMo");
                        break;
                    default:
                        // Mặc định, bạn có thể đặt giá trị tùy ý ở đây
                        paymentMethodInput.setAttribute("value", "null");
                        break;
                }
            });
        });
    });

</script>



