@using SecondHand.Models.Models.Domain;
@using System.Linq;
@model IEnumerable<SecondHand.Models.Domain.Product>
@{
     
   

}
<div class="uk-grid-collapse uk-child-width-1-4 tm-products-grid js-products-grid"
     uk-grid>
    @foreach (var c in Model)
    {

        <article id="product-title" class="tm-product-card ">

            <div class="tm-product-card-media">
                <div class="tm-ratio tm-ratio-4-3">

                    <a asp-controller="ProductDetails" class="tm-media-box uk-padding-remove">
                        <figure class="tm-media-box-wrap">

                            <img src="@Url.Content("~/images/products/" + c.productGallery.Select(p=>p.URL).FirstOrDefault())" alt="@c.Name" />

                        </figure>
                    </a>
                </div>
            </div>
            <div class="tm-product-card-body">
                <div class="tm-product-card-info">
                    <div class="uk-text-meta uk-margin-xsmall-bottom">
                        @c.Brand.Name
                    </div>
                    <h3 class="tm-product-card-title">
                        <a class="uk-link-heading"
                           href="product.html">@c.Name</a>
                    </h3>
                </div>
                <div class="tm-product-card-shop product-mg">
                    <div class="tm-product-card-prices ">
                        <div class="uk-text-meta">Size M</div>
                        <div class="tm-product-card-price">
                            @c.Price
                        </div>
                    </div>
                    <div class="tm-product-card-add">
                        <div class="uk-text-meta tm-product-card-actions">
                            <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                               title="Yêu thích">
                                <span uk-icon="icon: heart; ratio: .75;"></span><span class="tm-product-card-action-text">
                                    Add to
                                    favorites
                                </span>
                            </a>
                        </div>
                        <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                            <span class="tm-product-card-add-button-icon"
                                  uk-icon="cart"></span><span class="tm-product-card-add-button-text">add to cart</span>
                        </button>
                    </div>
                </div>
            </div>

        </article>
    }


</div>






