@using SecondHand.Models.Models.Domain;
@using System.Linq;
@model IEnumerable<SecondHand.Models.Domain.Product>
@{
    var uniqueBrands = Model.Select(b => b.Brand.Name).Distinct().ToList();
}


    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
            
                <div class="uk-text-center">
                    <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                    
                        <li><a href="index.html">Trang Chủ</a></li>
                        <li><a href="catalog.html">Danh Mục</a></li>                    
                </ul>
                @foreach (var a in Model.Take(1))
                {
                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">
                        @a.Name
                    </h1>
                }
                    <div class="uk-text-meta uk-margin-xsmall-top">
                        367 sản phẩm
                    </div>
                </div>
                
                <div>
                    <div class="uk-grid-medium" uk-grid>
                        <aside class="uk-width-1-4 tm-aside-column tm-filters"
                               id="filters"
                               uk-offcanvas="overlay: true; container: false;">
                            <div class="uk-offcanvas-bar uk-padding-remove">
                                <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
                                    <header class="uk-card-header uk-flex uk-flex-middle">
                                        <div class="uk-grid-small uk-flex-1"
                                             uk-grid>
                                            <div class="uk-width-expand">
                                                <div class="uk-h3">
                                                    Lọc
                                                </div>
                                            </div>
                                            <button class="uk-offcanvas-close"
                                                    type="button"
                                                    uk-close></button>
                                        </div>
                                    </header>
                                    <div class="uk-margin-remove uk-flex-1 uk-overflow-auto"
                                         uk-accordion="multiple: true; targets: &gt; .js-accordion-section"
                                         style="flex-basis: auto">
                                        <section class="uk-card-small uk-card-body">
                                            <h4 class="uk-margin-small-bottom">
                                                Giỏ Hàng
                                            </h4>
                                            <ul class="uk-nav uk-nav-default">
                                            @foreach (var d in Model)
                                            {
                                                <li>
                                                    <a id="abcc">@d.Name</a>
                                                </li>
                                            }
                                            

                                            </ul>
                                        </section>
                                        <section class="uk-card-body uk-open js-accordion-section">
                                            <h4 class="uk-accordion-title uk-margin-remove">
                                                Giá Tiền
                                            </h4>
                                            <div class="uk-accordion-content">
                                                <div class="uk-grid-small uk-child-width-1-2 uk-text-small"
                                                     uk-grid>
                                                    <div>
                                                        <div class="uk-inline">
                                                            <span class="uk-form-icon uk-text-xsmall">Từ</span><input class="uk-input"
                                                                                                                      type="text"
                                                                                                                      placeholder="$59" />
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-inline">
                                                            <span class="uk-form-icon uk-text-xsmall">Đến</span><input class="uk-input"
                                                                                                                       type="text"
                                                                                                                       placeholder="$6559" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="uk-card-body js-accordion-section uk-open">
                                            <h4 class="uk-accordion-title uk-margin-remove">
                                                Nhãn Hiệu
                                            </h4>
                                            <div class="uk-accordion-content">
                                                
                                                    <ul class="uk-list tm-scrollbox">
                                                @foreach (var brandName in uniqueBrands)
                                                {
                                                        <li>
                                                            <input class="tm-checkbox"
                                                                   type="checkbox" /><label>
                                                                <span>
                                                                    @brandName
                                                                    <span class="uk-text-meta uk-text-xsmall"></span>
                                                                </span>
                                                            </label>
                                                        </li>
                                                }

                                                    </ul>
                                               
                                               
                                            </div>
                                        </section>
                                        <div class="uk-card-body">
                                            <button class="uk-button uk-button-default uk-width-1-1">
                                                <span class="uk-margin-xsmall-right"
                                                      uk-icon="icon: close; ratio: .75;"></span>Đặt lại bộ lọc
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <div class="uk-width-expand">
                            <div class="uk-grid-medium uk-child-width-1-1"
                                 uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                        <div class="uk-grid-collapse uk-child-width-1-1"
                                             id="products"
                                             uk-grid>
                                            <div class="uk-card-header">
                                                <div class="uk-grid-small uk-flex-middle"
                                                     uk-grid>
                                                    <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
                                                        <span class="uk-margin-small-right uk-text-muted">Tìm kiếm bởi</span>
                                                        <ul class="uk-subnav uk-margin-remove">

                                                            <li>
                                                                <a class="uk-text"
                                                                   href="#">Giá</a>
                                                            </li>
                                                            <li>
                                                                <a class="uk-text"
                                                                   href="#">Mới Nhất</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
                                                        <button class="uk-button uk-button-default uk-button-small uk-hidden@m"
                                                                uk-toggle="target: #filters">
                                                            <span class="uk-margin-xsmall-right"
                                                                  uk-icon="icon: settings; ratio: .75;"></span>Filters
                                                        </button>
                                                        <div class="tm-change-view uk-margin-small-left">
                                                            <ul class="uk-subnav uk-iconnav js-change-view"
                                                                uk-switcher>
                                                                <li>
                                                                    <a class="uk-active"
                                                                       data-view="grid"
                                                                       uk-icon="grid"
                                                                       uk-tooltip="Grid"></a>
                                                                </li>
                                                                <li>
                                                                    <a data-view="list"
                                                                       uk-icon="list"
                                                                       uk-tooltip="List"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="uk-card uk-card-default tm-ignore-container">
                                                    <div class="uk-grid-collapse uk-child-width-1-4 tm-products-grid js-products-grid"
                                                         uk-grid>
                                                        @foreach (var c in Model)
                                                        {
                                                            <article class="tm-product-card">
                                                        
                                                                <div class="tm-product-card-media">
                                                                    <div class="tm-ratio tm-ratio-4-3">
                                                                        <a asp-controller="ProductDetails" class="tm-media-box uk-padding-remove"
                                                                           >
                                                                            <figure class="tm-media-box-wrap">
                                                                           
                                                                            <img src="@Url.Content("~/images/products/" + c.productGallery.Select(p=>p.URL).FirstOrDefault())" alt="@c.Name" />

                                                                            </figure>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tm-product-card-body">
                                                                    <div class="tm-product-card-info">
                                                                        <div class="uk-text-meta uk-margin-xsmall-bottom">
                                                                            @c.Brand.Name
                                                                        </div>
                                                                        <h3 class="tm-product-card-title">
                                                                            <a class="uk-link-heading"
                                                                               href="product.html">@c.Name</a>
                                                                        </h3>
                                                                    </div>
                                                                    <div class="tm-product-card-shop product-mg">
                                                                        <div class="tm-product-card-prices ">
                                                                            <div class="uk-text-meta">Size M</div>
                                                                            <div class="tm-product-card-price">
                                                                                @c.Price
                                                                            </div>
                                                                        </div>
                                                                        <div class="tm-product-card-add">
                                                                            <div class="uk-text-meta tm-product-card-actions">
                                                                                <a class="tm-product-card-action js-add-to js-add-to-favorites tm-action-button-active js-added-to"
                                                                                   title="Yêu thích">
                                                                                    <span uk-icon="icon: heart; ratio: .75;"></span><span class="tm-product-card-action-text">
                                                                                        Add to
                                                                                        favorites
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                            <button class="uk-button uk-button-primary tm-product-card-add-button tm-shine js-add-to-cart">
                                                                                <span class="tm-product-card-add-button-icon"
                                                                                      uk-icon="cart"></span><span class="tm-product-card-add-button-text">add to cart</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        
                                                            </article>
                                                    }
                                                       

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ul class="uk-pagination uk-flex-center">
                                        <li class="uk-active">
                                            <span>1</span>
                                        </li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li class="uk-disabled">
                                            <span>…</span>
                                        </li>
                                        <li><a href="#">20</a></li>
                                        <li>
                                            <a href="#">
                                                <span uk-pagination-next></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
           
        </div>
    </section>



