@page "/dangky"
@model RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "_LoginLayout.cshtml";
}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản</h1>
                        </div>
                        <form class="user" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Input.FirstName" class="form-control form-control-user" autocomplete="firstname" aria-required="true" placeholder="Họ" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="Input.LastName" class="form-control form-control-user" autocomplete="lastname" aria-required="true" placeholder="Tên" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.UserName" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Tên tài khoản" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Phone" class="form-control form-control-user" autocomplete="phonenumber" aria-required="true" placeholder="Số điện thoại" />
                                <span asp-validation-for="Input.Phone" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary btn-user ">Đăng ký</button>
                            <hr>
                            
                            
                        </form>
                        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <section>
                                <hr />
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                var cssClass = "btn btn-user btn-block";
                                                var icon = "";
                                                if (provider.Name == "Google")
                                                {
                                                    cssClass = "btn btn-google btn-user btn-block";
                                                    icon = "fab fa-google fa-fw";
                                                }
                                                else if (provider.Name == "Facebook")
                                                {
                                                    cssClass = "btn btn-facebook btn-user btn-block";
                                                    icon = "fab fa-facebook-f fa-fw";
                                                }
                                                <button type="submit" class="@cssClass" name="provider" value="@provider.Name" title="Đăng ký với tài khoản @provider.DisplayName"><i class="@icon"></i> Đăng ký với @provider.DisplayName</button>
                                            }

                                        </p>
                                    </div>
                                </form>
                            </section>
                        }
                        <hr>            
                        <div class="text-center">
                            <a class="text-decoration-none" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Đã có tài khoản? Đăng nhập</a>
                        </div>
                        
                        <div class="text-center">
                            <a class="text-decoration-none" asp-controller="Home" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl">Trở về trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
