@using SecondHand.Models.Domain;
@using SecondHand.Models.Models.Domain;
@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><a asp-controller="ContactManage" asp-action="Index" style="color: black; text-decoration: none;">Hỗ trợ khách hàng</a></h1>

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ContactManage" asp-action="Index">Hỗ trợ khách hàng</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
<div class=" row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">
                <a asp-controller="ContactManage" asp-action="Create" class="card-tools btn bg-gradient-primary">
                    <i class="fa-regular fa-plus fa-2xs"></i> Tạo mới liên lạc
                </a>
            </div>
            <div class=" uk-padding-small col-12">
                            <form asp-action="Search" method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="searchTerm" class="form-control" placeholder="Tìm kiếm">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
            </div>
            <div class="card-body table-responsive p-0">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Message</th>                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model)
                        {
                            <tr>
                                <td>@a.Id</td>
                                <td>@(a.FullName ?? "Tên không có sẵn")</td>
                                <td>@a.Email</td>
                                <td>@(a.Phone ?? "Mô tả không có sẵn")</td>
                                <td>@(a.Message ?? "Mô tả không có sẵn")</td>
                                <td>
                                    <div class="text-left">
                                        <a asp-controller="ContactManage" asp-action="Update" asp-route-id="@a.Id" class="btn btn-info"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> Cập nhật</a>
                                        <a asp-controller="ContactManage" asp-action="Delete" asp-route-id="@a.Id" class="btn btn-danger ml-2"><i class="fa-regular fa-trash-can" style="color: #ffffff;"></i> Xoá</a>
                                    </div>
                                </td>

                            </tr>
                        }



                    </tbody>
                </table>
                    <partial name="_pager" model="@pager" />

            </div>

        </div>

    </div>
</div>

</section>
