@model SecondHand.Models.Domain.Brand

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary" style="margin: 10px">
    <div class="card-header" style="background-color: #dc3545;">
        <h3 class="card-title" style="color:white">Xoá thương hiệu</h3>
    </div>
    <dl class="card-body">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            <img src="@("~/images/"+ Model.Logo)" alt="@(Model.Name)" asp-append-version="true" style="width: 150px; height: 150px;">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="card-footer row">
        <form asp-action="PostDelete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" style="width: 150px" class="btn btn-danger">Xoá</button>
            <a asp-action="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary ">Trở về</a>
        </form>
    </div>
    
</div>
